header-color = rgb(38, 50, 56)
secondary-color = rgba(255,255,255,0.4)
active-color = rgb(241, 97, 98)
sub-header-color = rgb(68, 68, 68)
layout-content-color = rgb(220, 220, 220)
link-color = rgb(58, 139, 187)
title-color = rgb(68, 68, 68)
container-base = 90%

@import url("https://fonts.googleapis.com/css?family=Open+Sans")

container(base-size)
  margin 0 auto
  width base-size !important

*
  margin 0
  padding 0

body
  font-family: 'Open Sans', sans-serif
