.main-top-section
  background-image url("http://oi.com.br/assets/images/products/combo/residencial/imagem-hero-combo-residencial-1366.jpg")
  background-size cover
  height 100vh
  a
    text-decoration none
    color smoth-base-color
  .main__title
    text-transform uppercase
    font-size 1.375rem
    font-weight 400
    text-decoration none
    color #fff

.main__menu
  margin 0 20px
  font-size .9rem
  a
    margin-left 15px
.main__nav-data
  display flex
  align-items center
header
  display flex
  align-items center
  text-transform uppercase
  justify-content space-between
  color smoth-base-color
  height 50px
  padding 0 5%
  border-bottom 1px solid rgba(255,255,255,.2)
